.git
.github
.ruff_cache
**/.DS_Store
**/.env
**/.env.*
**/.next
**/.venv
**/__pycache__
**/coverage
**/data
**/dist
**/node_modules
**/.pytest_cache
**/.ruff_cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
